<div class="container main-container" *ngIf="checkButton">
  <div class="container">
    <h4 class="espaco">Cadastro</h4>
    <hr class="espaco"/>
    <form novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-md-2 control-label" for="nome">Digite seu nome</label>
          <div class="col-md-10">
            <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome}"/>
            <span class="text-danger" *ngIf="displayMessage.nome">
              <p [innerHTML]="displayMessage.nome"></p>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">Digite um valor</label>
          <div class="col-md-10">
            <input class="form-control" id="moeda" formControlName="moeda" type="text"
            currencyMask
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" [ngClass]="{'is-invalid': displayMessage.moeda}" placeholder="R$ 0,00"/>
            <span class="text-danger" *ngIf="displayMessage.moeda">
              <p [innerHTML]="displayMessage.moeda"></p>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary" id="Registrar" [disabled]="!cadastroForm.valid" type="submit">Confirmar</button>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container main-container" *ngIf="!checkButton">
  <div class="container">
    <span id="titulo-maquina">Bem vindo - </span><span id="nome-comprador">{{user.nome}}</span>
    <hr class="espaco"/>

    <div class="caixa-pessoa-mensagem">
      <div class="caixa">
        <div class="pai-produtos-notas-valores-saldo">
          <div class="caixa2">
            <div class="pai-produtos">
              <div class="pai-produtos-1-3-5">
                <div class="produto-1">
                  <img src="../../../../assets/mEms.png">
                  R$ 7,00
                </div>
                <div class="produto-3">
                  <img src="../../../../assets/pe.png">
                  R$ 6,00
                </div>
                <div class="produto-5">
                  <img src="../../../../assets/doritos.png">
                  R$ 8,00
                </div>
              </div>
              <div class="pai-produtos-2-4-6">
                <div class="produto-2">
                  <img src="../../../../assets/panco.png">
                  R$ 7,00
                </div>
                <div class="produto-4">
                  <img src="../../../../assets/fandangos.png">
                  R$ 3,00
                </div>
                <div class="produto-6">
                  <img src="../../../../assets/ruffles.png">
                  R$ 8,00
                </div>
              </div>
            </div>
          </div>
          <div class="pai-notas-valor-saldo">
            <div class="pai-notas">
              <img class="nota-2" src="../../../../assets/nota-2.png">
              <img class="nota-5" src="../../../../assets/nota-5.png">
              <img class="nota-10" src="../../../../assets/nota-10.png">
              <img class="nota-20" src="../../../../assets/nota-20.png">
              <img class="nota-50" src="../../../../assets/nota-50.png">
            </div>
            <div class="pai-valor-saldo">
              <div class="valor">Valor
                <div id="caixa-valor">R$ 0,00</div>
              </div>
              <div class="saldo">Saldo
                <div id="caixa-saldo">{{user.moeda | currencyBrazil}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="button-comprar">Comprar</div>
      </div>

      <div class="pessoa-mensagem">
        <div class="pessoa">
          <img src="../../../../assets/pessoa.png">
        </div>
        <div class="mensagem">
          <img src="../../../../assets/mensagem-1.png">
        </div>
      </div>

    </div>

  </div>
</div>
