<div class="container main-container">
  <div class="container">
      <h4 class="espaco">Contato</h4>
      <hr class="espaco"/>
    <div class="texto">
      <p><span>Nome: Alyson Tamaio</span><span class="espaco-ra">RA: 819161008</span></p>
      <p><span>Nome: Christian Campos</span><span class="espaco-ra">RA: 821141413</span></p>
      <p><span>Nome: Felipe Murauskas Pascoinelli</span><span class="espaco-ra">RA: 821148414</span></p>
      <p><span>Nome: Giovane Rafael Pereira</span><span class="espaco-ra">RA: 820250260</span></p>
      <p><span>Nome: Kelvin Paixao Lima</span><span class="espaco-ra">RA: 820140925</span></p>
      <p><span>Nome: Lucas Aranha</span><span class="espaco-ra">RA: 821141971</span></p>
      <p><span>Nome: Lucas de Mello SAntos</span><span class="espaco-ra">RA: 820266212</span></p>
      <p><span>Nome: Renan Pires</span><span class="espaco-ra">RA: 821137415</span></p>
    </div>
  </div>
</div>

