<div class="container main-container">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="titulo-page">Sobre</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="texto">
      <p>A máquina de doces da Docelândia veio para tornar mais prática a compra de alimentos.</p>
      <p>Bastanto apenas selecionar as notas para obter o valor igual ou maior ao produto desejado,</p>
      <p>em seguida escolhendo o produto e clicando em comprar, o alimento chega até você de forma simples e rápida</p>
      <p>Podendo ainda consultar o saldo na tela.</p>
    </div>
  </div>
</div>
