<div class="container main-container">
  <div class="container">

    <div class="caixa-principal">
      <div class="pai-caixa-andar">

        <div class="caixa-3andar">
          <div class="pai-pessoa-andar">
            <div class="andar"></div>
            <div class="pessoa"></div>
          </div>
          <div class="pai-caixa-botao-elevador-andar">
            <div class="numero-andar"></div>
            <div class="pai-botao-elevador">
              <div class="botao-andar"></div>
              <div class="elevador-andar"></div>
            </div>
          </div>
        </div>

        <div class="caixa-2andar">
          <div class="pai-pessoa-andar">
            <div class="andar"></div>
            <div class="pessoa"></div>
          </div>
          <div class="pai-caixa-botao-elevador-andar">
            <div class="numero-andar"></div>
            <div class="pai-botao-elevador">
              <div class="botao-andar"></div>
              <div class="elevador-andar"></div>
            </div>
          </div>
        </div>

        <div class="caixa-1andar">
          <div class="pai-pessoa-andar">
            <div class="andar"></div>
            <div class="pessoa"></div>
          </div>
          <div class="pai-caixa-botao-elevador-andar">
            <div class="numero-andar"></div>
            <div class="pai-botao-elevador">
              <div class="botao-andar"></div>
              <div class="elevador-andar"></div>
            </div>
          </div>
        </div>

        <div class="caixa-terreo">
          <div class="pai-pessoa-andar">
            <div class="andar"></div>
            <div class="pessoa"></div>
          </div>
          <div class="pai-caixa-botao-elevador-andar">
            <div class="numero-andar"></div>
            <div class="pai-botao-elevador">
              <div class="botao-andar"></div>
              <div class="elevador-andar"></div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

