<div class="container main-container">
  <div class="container">

    <div class="caixa-principal">
      <div class="pai-caixa-andar">

        <div class="caixa-3andar">
          <div class="pai-pessoa-andar">
            <div class="andar">3º Andar</div>
            <img class="pessoa" src="../../../../assets/pessoa.png">
          </div>
          <div class="pai-caixa-botao-elevador-andar">
            <div class="numero-andar">T</div>
            <div class="pai-botao-elevador">
              <div class="botao-andar">
                <img class="botao-subir-descer ajuste-botao-cima" src="../../../../assets/botao-cima.png">
                <img class="botao-subir-descer ajuste-botao-baixo" src="../../../../assets/botao-baixo.png">
              </div>
              <img class="elevador-andar" src="../../../../assets/porta-fechada.png">
            </div>
          </div>
        </div>

        <div class="caixa-2andar">
          <div class="pai-pessoa-andar">
            <div class="andar">2º Andar</div>
            <img class="pessoa" src="../../../../assets/pessoa.png">
          </div>
          <div class="pai-caixa-botao-elevador-andar">
            <div class="numero-andar">T</div>
            <div class="pai-botao-elevador">
              <div class="botao-andar">
                <img class="botao-subir-descer ajuste-botao-cima" src="../../../../assets/botao-cima.png">
                <img class="botao-subir-descer ajuste-botao-baixo" src="../../../../assets/botao-baixo.png">
              </div>
              <img class="elevador-andar" src="../../../../assets/porta-fechada.png">
            </div>
          </div>
        </div>

        <div class="caixa-1andar">
          <div class="pai-pessoa-andar">
            <div class="andar">1º Andar</div>
            <img class="pessoa" src="../../../../assets/pessoa.png">
          </div>
          <div class="pai-caixa-botao-elevador-andar">
            <div class="numero-andar">T</div>
            <div class="pai-botao-elevador">
              <div class="botao-andar">
                <img class="botao-subir-descer ajuste-botao-cima" src="../../../../assets/botao-cima.png">
                <img class="botao-subir-descer ajuste-botao-baixo" src="../../../../assets/botao-baixo.png">
              </div>
              <img class="elevador-andar" src="../../../../assets/porta-fechada.png">
            </div>
          </div>
        </div>

        <div class="caixa-terreo">
          <div class="pai-pessoa-andar">
            <div class="andar">Térreo</div>
          </div>
          <div class="pai-caixa-botao-elevador-andar">
            <div class="numero-andar">T</div>
            <div class="pai-botao-elevador">
              <div class="botao-andar">
                <img class="botao-subir-descer ajuste-botao-cima" src="../../../../assets/botao-cima.png">
                <img class="botao-subir-descer ajuste-botao-baixo" src="../../../../assets/botao-baixo.png">
              </div>
              <div class="elevador-andar">
                <div class="elevador-aberto">
                  <img class="pessoa-elevador" src="../../../../assets/pessoa.png">
                  <div class="botoeira">
                    <img class="numero" src="../../../../assets/segundo.png">
                    <img class="numero" src="../../../../assets/terceiro.png">
                    <img class="numero" src="../../../../assets/terreo.png">
                    <img class="numero" src="../../../../assets/primeiro.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

